<!-- <div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed':''">
    <div class="logo-container">
        <button class="logo"></button>
        <div class="logo-text" *ngIf="collapsed">BasquetSoft</div>
        <button class="btn-close" *ngIf="collapsed">
            <i class="fal fa-times close-icon"></i>
        </button>
    </div>
    <ul class="sidena-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData">
            <a class="sidena-nav-link" [routerLink]="[data.routeLink]"></a>
                <i class="sidenav-link-icon" [class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{ data.label }}</span>
        </li>
    </ul>
</div> -->


<h1>TIENES PERMISOS PARA VER EL ADMIN COMPAÑERO VERGA</h1>