<nav class="sidebar">
    <div class="logo-name">
        <div class="logo-image">
            <!--<img src="images/logo.png" alt="">-->
        </div>

        <span class="logo_name">BasquetSoft</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="#">
                <i class="uil uil-estate"></i>
                <span class="link-name">Usuarios</span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name">Jugadores</span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-chart"></i>
                <span class="link-name">Canchas</span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-thumbs-up"></i>
                <span class="link-name">Torneos</span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-comments"></i>
                <span class="link-name">Sexo</span>
            </a></li>
            <li><a href="#">
                <i class="uil uil-share"></i>
                <span class="link-name">otro sexo</span>
            </a></li>
        </ul>
        
        <ul class="logout-mode">
            <li><a (click)="cerrarSesion()">
                <i class="uil uil-signout"></i>
                <span class="link-name">Cerrar sesion</span>
            </a></li>
        </ul>
    </div>
</nav>

<section class="dashboard">
    <router-outlet></router-outlet>
</section>


