<div class="form-outline" style="margin-bottom: 15px;">
    <button class="btn btn-primary" (click)="onRegister()">Agregar Equipos</button>
    <input type="search" class="form-control" placeholder="Buscar.." #txtSearch 
      id="datatable-search-input" style="width: 85%; float: right;" (keyup)="onSearch(txtSearch.value)">
  </div>
  <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>Descripcion</th>
          <th>COLONIA</th>
          <th>CP</th>
          <th>USUARIO</th>
          <th>Estatus</th>
          <th>Editar</th>
          <th>Borrar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of ediciones | paginate: { itemsPerPage:5, currentPage:p }  ">
          <td>
            <div class="d-flex align-items-center">
              <div class="ms-3">
                <p class="fw-bold mb-1"> {{categoria.id}}   </p>
              </div>
            </div>
          </td>
          <td>
            <p class="fw-normal mb-1"> {{categoria.Nombre}} </p>
            
          </td>
          <td>
            <p class="fw-normal mb-1"> {{categoria.Descripcion}} </p>
           
          </td>
          <td>
            <p class="fw-normal mb-1"> {{categoria.id_asenta_cpcons}} </p>
           
          </td>
          <td>
            <p class="fw-normal mb-1"> {{categoria.cp}} </p>
           
          </td>
          <td>
            <p class="fw-normal mb-1"> {{categoria.ID_Usuario}} </p>
           
          </td>
          <td>
            <p class="fw-normal mb-1"> {{categoria.Estatus}} </p>
           
          </td>
          <td>
            <button type="button" class="btn btn-primary" (click)="onEdit( categoria.id)">Editar</button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" (click)="onDelete( categoria.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    
  
  <div class="d-flex justify-content-center" >
    <pagination-controls
    (pageChange)="p = $event"
    previousLabel="Atras"
    nextLabel="Adelante"
    ></pagination-controls>
  </div>
    