<div class="container">
  <form action="" [formGroup]="editarForm" (ngSubmit)="postForm(editarForm)">
    <div class="mb-3">
      <img id="profile-photo" class="rounded-circle shadow-4-strong" alt="" width="200" height="200" [src]="imageURL" />
      <label for="exampleFormControlFile1">Subir fotografia</label>
      <input class="form-control" type="file" id="formFile" accept="image/*" formControlName="image" (change)="onFileChanged($event )" >
    </div>
    <div class="form-group row">
      <div class="form-group">
        <label for="">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombres" formControlName="Nombres">
      </div>
      <div class="form-group">
        <label for="">Apellido1</label>
        <input type="text" class="form-control" placeholder="ApellidoPaterno" formControlName="ApellidoPaterno">
      </div>
      <div class="form-group">
        <label for="">Apellido2</label>
        <input type="text" class="form-control" placeholder="ApellidoMaterno" formControlName="ApellidoMaterno">
        </div>
    </div>
    <div class="form-group row">               
        <div class="form-group">
          <label for="">Email</label>
          <input type="text" class="form-control" placeholder="email" formControlName="email">
        </div>
        <div class="form-group">
          <label for="">Contraseña</label>
          <input type="password" class="form-control" placeholder="password" formControlName="password">
        </div>            
        <div class="form-group">
          <label for="">Domicilio</label>
          <input type="text" class="form-control" placeholder="Domicilio" formControlName="Domicilio">
        </div>         
    </div>
    <div class="form-group row">
        <div class="col">
          <label for="">fecha de nacimiento</label>
          <input type="text" class="form-control" placeholder="fecha de nacimiento" formControlName="Fecha_Nacimiento">
        </div>
        <div class="col">
          <label class="form-label">Rol</label>
          <select class="form-select" required formControlName="Id_Rol">
            <option selected disabled value="{{this.editarForm}}">Elige...</option>
            <option *ngFor="let rol of roles" [ngValue]="rol.Id_Rol"> {{ rol.name }} </option>
          </select>
        </div>
        <div class="col">
          <label for="">Id_Genero</label>
          <input type="text" class="form-control" placeholder="Id_Genero" formControlName="Id_Genero">
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
          <label for="">id_asenta</label>
          <input type="text" class="form-control" placeholder="Id_Genero" formControlName="id_asenta">
        </div>
        <div class="col">
          <label for="">CP</label>
          <input type="text" class="form-control" placeholder="CP" formControlName="CP">
        </div>
        <div class="col">
          <label for="">Numero de SS</label>
          <input type="text" class="form-control" placeholder="Numero de SS" formControlName="numSS">
        </div>
    </div>
    <div class="form-group row">
        <div class="col">
          <label for="">CURP</label>
          <input type="text" class="form-control" placeholder="curp" formControlName="curp">
        </div>
        <div class="col">
          <label for="">Telefono</label>
          <input type="text" class="form-control" placeholder="Telefono" formControlName="telefono">
        </div>
    </div>
    <div class="col">
      <label for="">Referencia</label>
      <input type="text" class="form-control" placeholder="Referencia" formControlName="referencia">
    </div>
                    
    <br><br>
                    
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSalir()">Salir</button>
  </form>                
</div>