<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">¿Olvidó su contraseña?</h2>
    </div>
    <div class="modal-body">
      <div class="content-wrapper">
        <div class="text-wrapper">
          <p class="label-text">Ingrese su correo electrónico</p>
          <input type="email" class="form-control" *ngIf="showText" placeholder="tucorreo@ejemplo.com" [(ngModel)]="email">
          <div class="warning-wrapper">
            <span class="exclamation-icon">!</span>
            <p class="warning-text">Se enviará al correo proporcionado un enlace para la recuperación de la contraseña. Por favor, ingrese un correo al que tenga fácil acceso.</p>
          </div>
        </div>
        <div class="image-wrapper">
          <img src="assets/img/password.jpg" alt="Imagen" class="photo">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="toggleText()">Enviar</button>
    </div>
  </div>
</div>

