<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Modificar contraseña</h2>
      </div>
      <div class="modal-body">
        <div class="content-wrapper">
          <div class="text-wrapper">
            <p class="label-text">Contraseña Actual</p>
            <input [(ngModel)]="currentPassword" type="password" class="form-control" placeholder="************">
          </div>
          <div class="text-wrapper">
            <p class="label-text">Nueva contraseña</p>
            <input [(ngModel)]="newPassword" type="password" class="form-control" placeholder="************">
          </div>
          <div class="text-wrapper">
            <p class="label-text">Repetir nueva contraseña</p>
            <input [(ngModel)]="confirmNewPassword" type="password" class="form-control" placeholder="************">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="guardar()">Guardar</button>
      </div>
    </div>
  </div>
