<div mat-dialog-content>
    <form action="" [formGroup]="nuevoForm" (ngSubmit)="postForm(nuevoForm)">
        <div class="mb-3">
            <img id="profile-photo" class="rounded-circle shadow-4-strong" alt="" width="200" height="200"
                [src]="imageURL" />
            <label for="exampleFormControlFile1">Subir fotografia</label>
            <input class="form-control" type="file" id="formFile" accept="image/*" (change)="onFileChanged($event )">
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombres" formControlName="Nombres"
                    [class.is-invalid]='nombreNoValido'>
                <small *ngIf="nombreNoValido" class="text-danger">Campo requerido</small>
            </div>
            <div class="col">
                <label for="">Apellido1</label>
                <input type="text" class="form-control" placeholder="ApellidoPaterno" formControlName="ApellidoPaterno"
                    [class.is-invalid]='ApellidoPaternoNoValido'>
                <small *ngIf="ApellidoPaternoNoValido" class="text-danger">Campo requerido</small>
            </div>
            <div class="col">
                <label for="">Apellido2</label>
                <input type="text" class="form-control" placeholder="ApellidoMaterno" formControlName="ApellidoMaterno"
                    [class.is-invalid]='ApellidoMaternoNoValido'>
                <small *ngIf="ApellidoMaternoNoValido" class="text-danger">Campo requerido</small>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="">Email</label>
                <input type="text" class="form-control" placeholder="email" formControlName="email"
                    [class.is-invalid]='emailNoValido'>
                <small *ngIf="emailNoValido" class="text-danger">Campo requerido, debe coincidir con un formato
                    email</small>
            </div>

            <div class="col">
                <label for="">Contraseña</label>
                <input type="password" class="form-control" placeholder="password" formControlName="password"
                    [class.is-invalid]='passwordNoValido'>
                <small *ngIf="passwordNoValido" class="text-danger">Campo requerido, de 8 a 10 caracteres,con
                    mayusculas, minusculas y numeros</small>
            </div>
            <div class="col">
                <label for="">Domicilio</label>
                <input type="text" class="form-control" placeholder="Domicilio" formControlName="Domicilio"
                    [class.is-invalid]='DomicilioNoValido'>
                <small *ngIf="DomicilioNoValido" class="text-danger">Campo requerido</small>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="">Fecha de nacimiento</label>
                <input type="date" class="form-control" placeholder="2000/01/01" [class.is-invalid]='fechaNoValido'>
                <small *ngIf="fechaNoValido" class="text-danger">Campo requerido</small>
            </div>

        </div>
        <div class="form-group row">
            <div class="col">
                <label for="">CP</label>
                <input type="text" class="form-control" placeholder="CP" formControlName="CP"
                    (change)="obtenerAsentamientos()" [(ngModel)]="codigo_postal_para_obtener_asentamientos"
                    [class.is-invalid]="cpNoValido">
                <small *ngIf="cpNoValido" class="text-danger">Campo requerido</small>
            </div>

            <div class="col">
                <label class="form-label">Colonia</label>
                <select class="form-select" required formControlName="id_asenta" [class.is-invalid]='asentaNoValido'>
                    <option selected disabled value="">Elige...</option>
                    <option *ngFor="let codigo of codigo_postal" [ngValue]="codigo.id_asenta_cp_cpcons"> {{
                        codigo.d_tipo_asenta }} {{ codigo.d_asenta }}</option>
                </select>
                <small *ngIf="asentaNoValido" class="text-danger">Campo requerido</small>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label for="">CURP</label>
                <input type="text" class="form-control" placeholder="curp" formControlName="curp"
                    [class.is-invalid]="curpNoValido">
                <small *ngIf="curpNoValido" class="text-danger">Campo requerido con el formato correspondiente</small>
            </div>
            <div class="col">
                <label for="">Telefono</label>
                <input type="text" class="form-control" placeholder="Telefono" formControlName="telefono"
                    [class.is-invalid]="telefonoNoValido">
                <small *ngIf="telefonoNoValido" class="text-danger">Campo requerido, 10 digitos</small>
            </div>
        </div>
        <div class="form-group row">
            <div class="col">
                <label class="form-label">Genero</label>
                <select class="form-select" required formControlName="Id_Genero" [class.is-invalid]="curpNoValido">
                    <option selected disabled value="">Elige...</option>
                    <option *ngFor="let genero of generos" [ngValue]="genero.ID_Genero"> {{ genero.Descripcion }}
                    </option>
                </select>
                <small *ngIf="curpNoValido" class="text-danger">Campo requerido</small>
            </div>
            <div class="col">
                <label for="">Numero de SS</label>
                <input type="text" class="form-control" placeholder="Numero de SS" formControlName="numSS"
                    [class.is-invalid]='numSSNoValido'>
                <small *ngIf="numSSNoValido" class="text-danger">Campo requerido, 11 digitos</small>
            </div>
        </div>
        <div class="col">
            <label for="">Referencia</label>
            <input type="text" class="form-control" placeholder="Referencia" formControlName="referencia"
                [class.is-invalid]='referenciaNoValido'>
            <small *ngIf="referenciaNoValido" class="text-danger">Campo requerido</small>
        </div>
        <br><br>
        <div class="col">
            <label for="">Torneo</label>
            <input type="text" class="form-control" placeholder="Referencia" formControlName="referencia"
                [class.is-invalid]='torneoNoValido'>
            <small *ngIf="torneoNoValido" class="text-danger">Campo requerido</small>
        </div>



        <div class="d-flex justify-content-center btn-group">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button type="button" class="btn btn-danger" mat-button mat-dialog-close (click)="onSalir()">Salir</button>
        </div>
    </form>



</div>