<div mat-dialog-content>
    <form action="" [formGroup]="nuevoForm" (ngSubmit)="onRegister(nuevoForm)">

        
      <div class="col">
        <label class="form-label">Torneo</label>
        <select class="form-select" required formControlName="id_torneo">
          <option selected disabled value="">Elige...</option>
          <option *ngFor="let rol of roles" [ngValue]="rol.id"> {{ rol.NombreTorneo }} </option>
        </select>
      </div>

      <div class="col">
        <label class="form-label">Edicioes</label>
        <select class="form-select" required formControlName="id_edicion">
          <option selected disabled value="">Elige...</option>
          <option *ngFor="let rol of ediciones" [ngValue]="rol.id_torneo"> {{ rol.descripcion }} </option>
        </select>
      </div>


      <div class="col">
        <label class="form-label">Ramas</label>
        <select class="form-select" required formControlName="id_rama">
          <option selected disabled value="">Elige...</option>
          <option *ngFor="let rol of rama" [ngValue]="rol.id"> {{ rol.NombreRama }} </option>
        </select>
      </div>
        
      <div class="col">
        <label class="form-label">Categorias</label>
        <select class="form-select" required formControlName="id_categoria">
          <option selected disabled value="">Elige...</option>
          <option *ngFor="let rol of cat" [ngValue]="rol.id"> {{ rol.NombreCategoria }} </option>
        </select>
      </div>

      <div class="col">
        <label class="form-label">Equipo</label>
        <select class="form-select" required formControlName="id_equipo">
          <option selected disabled value="">Elige...</option>
          <option *ngFor="let rol of equipos" [ngValue]="rol.id"> {{ rol.Nombre }} </option>
        </select>
      </div>

      <div class="col">
        <label class="form-label">jugadores</label>
        <select class="form-select" required formControlName="id_jugador">
          <option selected disabled value="">Elige...</option>
          <option *ngFor="let rol of jugadores" [ngValue]="rol.Nombre"> {{ rol.Nombre }} </option>
        </select>
      </div>
        
     

   


    

        <div class="d-flex justify-content-center" style="padding-top: 5%;">
          <button type="submit" class="btn btn-primary">Guardar</button>
          <button type="button" class="btn btn-primary" mat-button mat-dialog-close (click)="onSalir()">Salir</button>
        </div>
    </form>
  </div>
  