<nav class="sidebar">
    <div class="logo-name">
        <div class="logo-image">
            <!--<img src="images/logo.png" alt="">-->
        </div>
        <a href="admin" style="text-decoration: none;">
            <span class="logo_name" >BasquetSoft</span>
        </a>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a routerLink="usuarios">
                <i class="uil uil-estate"></i>
                <span class="link-name">Usuarios</span>
            </a></li>
            <li><a >
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name">Jugadores</span>
            </a></li>
            <li><a routerLink="canchas">
                <i class="uil uil-chart"></i>
                <span class="link-name">Canchas</span>
            </a></li>
            <li><a >
                <i class="uil uil-thumbs-up"></i>
                <span class="link-name">Torneos</span>
            </a></li>
            <li><a routerLink="categorias">
                <i class="uil uil-thumbs-up"></i>
                <span class="link-name">Categoria</span>
            </a></li>
        </ul>
        
        <ul class="logout-mode">
            <li><a (click)="cerrarSesion()">
                <i class="uil uil-signout"></i>
                <a class="btn btn-danger" id="btn-logout">Cerrar sesion </a>
            </a></li>
        </ul>
    </div>
</nav>

<section class="dashboard">
    <router-outlet></router-outlet>
</section>


