
<div class="container w-75 mt-5 rounded-4 shadow" id="login">
  <div class="row gx-5 align-items-stretch">
      <div class="col bg-white p-5 rounded-end">
          <div class="text-end">
              <img src="img/logo.png" width="48" alt="">
          </div>
          <h1 class="fw-bold text-center py-5">INICIAR SESIÓN</h1>
          
          <!-- LOGIN -->
          
          <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)" class="login">
            <h2>Iniciar Seccion</h2>
            <h1>Usuario</h1>
            <h1 class="correo">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="email" id="email" placeholder="name@example.com" style="text-align: center;">
              </div>

              <div class="my-3">
                  <span>¿Olvidaste tu contraseña? <a href="#">Recuperar contraseña</a></span>
              </div>
          </form>

          <div class="container w-100 my-5">
              <div class="row text-center">

              </div>
          </div>
      </div>

      <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
          
      </div>
  </div>
</div>
  