/* Estilos del modal */
.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .modal-content {
    width: 800px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal-header {
    background-color: #f8f9fa;
    border-bottom: none;
    padding: 20px;
  }
  
  .modal-title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
  }
  
  .modal-body {
    padding: 20px;
    display: flex;
  }
  
  .content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .text-wrapper {
    margin-bottom: 20px;
  }
  
  .label-text {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .image-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
  }
  
  .photo {
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn-primary {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 30px; 
  }
  