<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title">Nueva Contraseña</h2>
    </div>
    <div class="modal-body">
      <div class="content-wrapper">
        <div class="text-wrapper">
          <p class="label-text">Nueva contraseña</p>
          <input type="password" class="form-control" *ngIf="showText" placeholder="********" [(ngModel)]="newPassword">
        </div>
        <div class="text-wrapper">
          <p class="label-text">Repetir contraseña</p>
          <input type="password" class="form-control" *ngIf="showText" placeholder="********" [(ngModel)]="confirmPassword">
        </div>
      </div>
      <div class="image-wrapper">
        <img src="assets/img/changepass.jpg" alt="Imagen" class="photo">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Guardar</button>
    </div>
  </div>
</div>

