
<div class="container w-75 mt-5 rounded-4 shadow gris" id="login">
  <div class="row gx-5 align-items-stretch">
      <div class="col bg-white p-5 rounded-end">
          
          <h1 class="fw-bold text-center py-5">Cambiar Contraseña</h1>
          <form [formGroup]="frmRecover" (ngSubmit)="submit()">
            <div class="form-group">
              <label class="label-text">Nueva contraseña</label>
              <div class="input-group">
                <input [class.is-invalid]="frmRecover.get('Password').invalid && frmRecover.get('Password').touched" [type]="hide1 ? 'password' : 'text'" class="form-control" placeholder="********" formControlName="Password">
                <br>
                <div class="input-group-append">
             <button class="input-group-text" type="button" style="border:none" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
              <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </div>
          </div>
          <small class="text-danger" *ngIf=" frmRecover.get('Password').invalid && frmRecover.get('Password').touched">Inserte una contraseña válida</small>
          </div>
    
          <div class="form-group">
            <label class="label-text">Repetir contraseña</label>
            <div class="input-group">
              <input [class.is-invalid]="frmRecover.get('Password2').invalid && frmRecover.get('Password2').touched" [type]="hide2 ? 'password' : 'text'" class="form-control" placeholder="********" formControlName="Password2">
             <br>
              <div class="input-group-append">
           <button class="input-group-text" type="button" style="border:none" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
         
        </div>
        <br>
       
        </div>
        <small class="text-danger" *ngIf=" frmRecover.get('Password2').invalid && frmRecover.get('Password2').touched">Inserte una contraseña válida</small>
        </div>
        
          
          <div class="text-center">
            <button class="btn btn-primary">Guardar</button>
          </div>
        </form>
          </div>

           
      <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
        
        <img src="/assets/img/changepass.jpg" class="img-responsive w-100" alt="">
 
</div>       
                      
               
         
        
      </div>

  </div>

