<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="login">
          <h2 style="position: absolute;
          width: 195px;
          height: 45px;
          left: 131px;
          top: 91px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 30px;
          line-height: 45px;">
            Iniciar Seccion
          </h2>
          <h1 style="
          position: absolute;
          width: 95px;
          height: 38px;
          left: 68px;
          top: 192px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 25px;
          line-height: 38px;">
            Usuario
          </h1>
          <h1 class="correo">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">

            </div>
          </h1>
          <h2 style="position: absolute;
          width: 149px;
          height: 38px;
          left: 68px;
          top: 317px;
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 25px;
          line-height: 38px;">Contraseña

          </h2>
          <h1 class="contraseña">
            <div class="form-floating">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            </div>
          </h1>


        </div>
      </div>
    </div>
    <div class="col">
      <picture class="img-login">
        <img src="../assets/img/R.jpg" class="figure-img img-fluid rounded" alt="...">

      </picture>
    </div>
  </div>
</div>

<router-outlet></router-outlet>