    <div class="Equipos">
         <div class="principal">
            <h1> Equipos</h1>
          </div>

                <div class="card">
                  <div class="login">
                    <h1> Nombre</h1>
                      <div class="barra">
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Chivas">
                      </div>

                      <h2>categoria </h2>
                      <div class="barra_categoria">
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Femenino">
                      </div>
                    
                       <h3>Jugadores </h3>
                       <select  class="form-select"  id="jugadores"   style="width:190px"  aria-label=".form-select-lg example" >
                        <option selected> menu de jugadores</option>
                        <option value="1">messi</option>
                        <option value="2">eto</option>
                        <option value="3">kaka</option>
                      </select>

                      <h4>puntos</h4>
                      <div class="barra_puntos">
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="20">
                      </div>

                      <picture class="img-login">
                        <img src="../../../assets/img/chivas.jpg" class="figure-img img-fluid rounded" alt="...">
                      </picture>

                  </div>
                </div>
              </div>
    
          
                <div class="card">
                  <div class="login-2">
                    <h1> Nombre</h1>
                    <div class="barra">
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="America">
                      </div>
                  </div>
                </div>
    
      
                <div class="card">
                  <div class="login-3">
                    <h1> Nombre</h1>
                    <div class="barra">
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Atlas">
                      </div>
                  </div>
                </div>
          
       
                <div class="card">
                  <div class="login-4">
                    <h1> Nombre</h1>
                    <div class="barra">
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Tigres">
                      </div>
                  </div>
                </div>
            
        
                <div class="card">
                  <div class="login-5">
                    <h1> Nombre</h1>
                    <div class="barra">
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Mazatlan">
                      </div>
                  </div>
                </div>
          
      
                <div class="card">
                  <div class="login-6">
                    <h1> Nombre</h1>
                    <div class="barra">
                        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Cruz Azul">
                      </div>
                  </div>
                </div>
          
          
          
    



