<div class="registroUsuario">
  <p class="fw-bold" id="usuariotxt1">Registro de Usuario</p>
  <p class="fw-bold" id="perfiltxt">Mi Perfil</p>
  <p class="fw-semibold" id="nombretxt">Nombre</p>
  <input type="text" class="nombre">
  <p class="fw-semibold" id="apellido1txt">Apellido1</p>
  <input type="text" class="apellido1">
  <p class="fw-semibold" id="apellido2txt">Apellido2</p>
  <input type="text" class="apellido2">
  <p class="fw-semibold" id="curptxt">Curp</p>
  <input type="text" class="curp">
  <p class="fw-semibold" id="nsstxt">Nss</p>
  <input type="text" class="nss">
  <p class="fw-semibold" id="cptxt">Cp</p>
  <input type="text" class="cp">
  <p class="fw-semibold" id="coloniatxt">Colonia</p>
  <input type="text" class="colonia">
  <p class="fw-semibold" id="calletxt">Calle</p>
  <input type="text" class="calle">
  <p class="fw-semibold" id="correoelectronicotxt">Correo Electronico</p>
  <input type="text" class="correoelectronico">
  <p class="fw-semibold" id="telefonotxt">Telefono</p>
  <input type="text" class="telefono">
  <p class="fw-semibold" id="generotxt">Genero</p>
  <select class="form-select" id="genero" aria-label="Default select example">
    <option selected>Genero</option>
    <option value="1">hombre</option>
    <option value="2">mujer</option>
  </select>
  <p class="fw-semibold" id="rolestxt">rol</p>
  <select class="form-select" id="rol" aria-label="Default select example">
    <option selected>Roles</option>
    <option value="1">si</option>
    <option value="2">no</option>
    <option value="3">talvez</option>
  </select>
  <p class="fw-semibold" id="cargarimgtxt">Subir Imagen..</p>
  <div class="mb-3" id="cargarimg">
    <label for="formFileDisabled" class="form-label"></label>
    <input class="form-control" type="file" id="formFileDisabled" disabled>
  </div>

</div>
