<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title">Modificar Usuario</h1>
    </div>
    <div class="modal-body">
      <form [formGroup]="formDatosUsuario">
        <div class="content-wrapper">
          <div class="text-wrapper">
            <label class="label-text">Nombre:</label>
            <input type="text" name="Nombres" formControlName="Nombres">
          </div>
          <div class="text-wrapper">
            <label class="label-text">Apellido Paterno:</label>
            <input type="text" name="ApellidoPaterno" formControlName="ApellidoPaterno">
          </div>
          <div class="text-wrapper">
            <label class="label-text">Apellido Materno:</label>
            <input type="text" name="ApellidoMaterno" formControlName="ApellidoMaterno" >
          </div>
          <div class="text-wrapper">
            <label class="label-text">Fecha de Nacimiento:</label>
            <input type="date" name="Fecha_Nacimiento"  formControlName="Fecha_Nacimiento">

          </div>
          <div class="text-wrapper">
            <label class="label-text">Domicilio:</label>
            <input type="text" name="Domicilio" formControlName="Domicilio" >
          </div>
          <div class="text-wrapper">
            <label class="label-text">Asentamiento:</label>
            <input type="text" name="id_asenta" formControlName="id_asenta" >
          </div>
          <div class="text-wrapper">
            <label class="label-text">Código Postal:</label>
            <input type="text" name="CP" formControlName="CP" >
          </div>
          <div class="text-wrapper">
            <label class="label-text">Referencia:</label>
            <input type="text" name="referencia" formControlName="referencia">
          </div>
          <div class="text-wrapper">
            <label class="label-text">Número de Seguro Social:</label>
            <input type="text" name="numSS" formControlName="numSS" >
          </div>
          <div class="text-wrapper">
            <label class="label-text">CURP:</label>
            <input type="text" name="curp" formControlName="curp" >
          </div>
          <div class="text-wrapper">
            <label class="label-text">Teléfono:</label>
            <input type="text" name="telefono"  formControlName="telefono">
          </div>
          <div class="text-wrapper">
            <label class="label-text">Email:</label>
            <input type="email" name="email" formControlName="email" >
          </div>
  
  
          <button type="submit" class="btn-primary" (click)="updateUser()">Actualizar Perfil</button>
        </div>
      </form>
     
      <div class="image-wrapper">
        <img class="photo"  alt="Foto del usuario" [src]="this.imgURL">
      </div>
    </div>
  </div>
</div>
