<div class="d-flex align-items-center mb-3">
  <label>Selecciona el equipo</label>
  <select id="selectEquipo" class="form-select w-50 me-2" [(ngModel)]="equipoSeleccionado" (change)="onSelectEquipo()">
    <option *ngFor="let equipo of equipos" [value]="equipo.id">{{equipo.Nombre}}</option>
  </select>
  <button class="btn btn-primary me-2" (click)="onRegister()">Agregar Jugador</button>
</div>
<div>
  <input type="search" class="form-control" placeholder="Buscar.." #txtSearch 
  id="datatable-search-input" style="width: 30%;" (keyup)="onSearch(txtSearch.value)">
</div>

<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>ID Equipo</th>
      <th>ID Jugador</th>
      <th>Nombre</th>
      <th>Dorsal</th>
      <th>Acciones</th> 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let jugador of jugadores ">
      <td>{{jugador.id_equipo}}</td>
      <td>{{ jugador.id_jugador }}</td>
      <td>{{ jugador. Nombres }}</td>
      <td>{{ jugador.DorsalJugador }}</td>
      <td>
        <button class="btn btn-danger" (click)="onDelete(jugador.id_equipo, jugador.id_jugador)">Eliminar</button>

      </td>
    </tr>
  </tbody>
</table>




<!--<div class="d-flex justify-content-center" >
  <pagination-controls
  (pageChange)="p = $event"
  previousLabel="Atras"
  nextLabel="Adelante"
  ></pagination-controls>
</div>-->
  