<div mat-dialog-content>

<h1> Registrar una nueva edición de torneo</h1>

  <form action="" [formGroup]="nuevoForm" (ngSubmit)="onRegister(nuevoForm)">


    <div class="col">
      <label class="form-label">Torneo</label>
      <select class="form-select" required formControlName="id_torneo">
        <option selected disabled value="">Elige...</option>
        <option *ngFor="let rol of roles" [ngValue]="rol.id"> {{ rol.NombreTorneo }} </option>
      </select>
    </div>

    <div class="col">
      <label for="">descripcion</label>
      <input type="text" class="form-control" placeholder="descripcion" formControlName="descripcion">
  </div>


      <div class="d-flex justify-content-center" style="padding-top: 5%;">
        <button type="submit" style="margin-right:10px;"class="btn btn-primary">Guardar</button>
        <button type="button" style="margin-right: 30px;"class="btn btn-danger" mat-button mat-dialog-close (click)="onSalir()">Salir</button>
      </div>
  </form>
</div>
