<div mat-dialog-content>
  <h1>Editar torneo</h1>
    <form action="" [formGroup]="editarForm" (ngSubmit)="postForm(editarForm)">

        <div class="form-group row">

            <div class="col">
                <label for="">Nombre</label>
                <input type="text" class="form-control" placeholder="Nombre Torneo" formControlName="NombreTorneo"
                    [class.is-invalid]='nombreNoValido'>
                <small *ngIf="nombreNoValido" class="text-danger">Campo requerido</small>
            </div>


        </div>




        <br><br>

        <div class="d-flex justify-content-center">
            <button type="submit" style="margin-right: 15px;"class="btn btn-primary">Guardar</button>
            <button type="button" style="margin-right: 50px;"class="btn btn-danger" mat-button mat-dialog-close (click)="onSalir()">Salir</button>
        </div>
    </form>
</div>
